<h1>{{module}}</h1>
<button (click)="toggleAddForm()" type="button">{{addButtonState}}</button>
<app-module-add (submited)="closeForm()" [module]="module" *ngIf="addForm"></app-module-add>
<app-module-details (done)="closeEditForm()" [module]="module" *ngIf="editForm"></app-module-details>
<ul [ngSwitch]="module">

  <ng-container *ngSwitchCase="'users'">
    <ng-container *ngFor="let user of dataService.users$ | async">
      <li><button (click)="edit(user, 'users')" type="button">{{user.firstName}} {{user.lastName}}</button></li>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'teams'">
    <ng-container *ngFor="let team of dataService.teams$ | async">
      <li><button (click)="edit(team, 'teams')" type="button">{{team.name}}</button></li>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'projects'">
    <ng-container *ngFor="let project of dataService.projects$ | async">
        <li><button (click)="edit(project, 'projects')" type="button">{{project.name}}</button></li>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'tasks'">
    <ng-container *ngFor="let task of dataService.tasks$ | async">
      <li><button (click)="edit(task, 'tasks')" type="button">{{task.name}}</button></li>
    </ng-container>
  </ng-container>
</ul>
