<form #editFormElement class="moduleForm" #form [ngSwitch]="module" [formGroup]="editForm">
  <!-- users form: -->
  <ng-container *ngSwitchCase="'users'">
    <div>
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" type="text" id="firstName">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" type="text" id="lastName">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="email">Email:</label>
      <input formControlName="email" type="email" id="email">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input formControlName="phoneNumber" type="text" id="phoneNumber">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="role">role:</label>
      <select formControlName="role" type="text" id="role">
        <option *ngFor="let role of this.generalService.roles" value="{{role}}">{{role}}</option>
      </select>
      <span hidden><button type="button">Save</button></span>
    </div>
  </ng-container>
  <!-- teams form: -->
  <ng-container *ngSwitchCase="'teams'">
    <div>
      <label for="name">Name:</label>
      <input formControlName="name" type="text" id="name">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea  formControlName="description" row="50" col="75" id="description"></textarea>
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="dateCreated">Created at:</label>
      <span>{{item.dateCreated}}</span>

    </div>
    <div class="checkboxes_group">
      <h4>Asign Members</h4>
      <div *ngFor= "let user of dataService.users$ | async">

        <input class="memberInputBox forEditForm" type="checkbox" value="members" id="{{user.id}}">
        <label for="{{user.id}}">{{user.firstName}} {{user.lastName}}</label>

      </div>
   </div>
    <div class="checkboxes_group">
      <h4>Asign Projects</h4>
      <div *ngFor= "let project of dataService.projects$ | async">

        <input class="memberInputBox forEditForm" type="checkbox" value="projects" id="{{project.id}}">
        <label for="{{project.id}}">{{project.name}}</label>

      </div>
    </div>
  </ng-container>
  <!-- projects form: -->
  <ng-container *ngSwitchCase="'projects'">
    <div>
      <label for="name">Name:</label>
      <input formControlName="name"type="text" id="name">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea  formControlName="description" row="50" col="75" id="description"></textarea>
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="startDate">Start Date:</label>
      <input formControlName="startDate" type="date" id="startDate">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="endDate">End Date:</label>
      <input formControlName="endDate" type="date" id="endDate">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div class="checkboxes_group">
      <h4>Asign Tasks</h4>
      <div *ngFor= "let task of dataService.tasks$ | async">

        <input class="memberInputBox forEditForm" type="checkbox" value="tasks" id="{{task.id}}">
        <label for="{{task.id}}">{{task.name}}</label>

      </div>
    </div>
    <div>
      <label for="state">In progress</label>
      <input type="radio" id="state" formControlName="state" value="inProgress">
    </div>
    <div>
      <label for="state">Paused</label>
      <input type="radio" id="state" formControlName="state" value="paused">
    </div>
    <div>
      <label for="state">Done</label>
      <input type="radio" id="state" formControlName="state" value="done">
    </div>
  </ng-container>
  <!-- tasks form: -->
  <ng-container *ngSwitchCase="'tasks'">
    <div>
      <label for="name">Name:</label>
      <input formControlName="name" type="text" id="name">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea formControlName="description" row="50" col="75" id="description"></textarea>
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="startDate">Start Date:</label>
      <input formControlName="startDate" type="date" id="startDate">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="endDate">End Date:</label>
      <input formControlName="endDate" [placeholder]="item.endDate" type="date" id="endDate">
      <span hidden><button type="button">Save</button></span>
    </div>
    <div>
      <label for="state">In progress</label>
      <input type="radio" id="state" formControlName="state" value="inProgress">
    </div>
    <div>
      <label for="state">Paused</label>
      <input type="radio" id="state" formControlName="state" value="paused">
    </div>
    <div>
      <label for="state">Done</label>
      <input type="radio" id="state" formControlName="state" value="done">
    </div>
  </ng-container>
  <button (click)="onDone()">Done</button>
</form>



