<!-- <h1>Overview</h1>
<hr>
<section>
  <app-users></app-users>
</section>
<hr>
<section>
  <app-teams></app-teams>
</section>
<hr>
<section>
  <app-projects></app-projects>
</section>
<hr>
<section>
  <app-tasks></app-tasks>
</section>
<hr> -->
<h1>Overview</h1>
<hr>
<section>
  <app-module [module]="users"></app-module>
</section>
<hr>
<section>
  <app-module [module]="teams"></app-module>
</section>
<hr>
<section>
  <app-module [module]="projects"></app-module>
</section>
<hr>
<section>
  <app-module [module]="tasks"></app-module>
</section>
<hr>

