
<div class="modal fade" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <form #form [ngSwitch]="module" [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <!-- users form: -->
          <ng-container *ngSwitchCase="'users'">
            <div class="input-group">
              <span class="input-group-text">First and last name</span>
              <input formControlName="firstName" type="text" id="firstName" aria-label="First name" class="form-control">
              <input formControlName="lastName" type="text" id="lastName" aria-label="Last name" class="form-control">
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="email">Email</span>
              <input formControlName="email" id="email" type="email" class="form-control" aria-label="email" aria-describedby="email">
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="phoneNumber">Phone Number</span>
              <input formControlName="phoneNumber" id="phoneNumber" type="text" class="form-control" aria-label="email" aria-describedby="email">
            </div>
            <div>
              <label for="role" class="form-label">role:</label>
              <select class="form-select" aria-label="Default select example" formControlName="role" type="text" id="role">
                <option *ngFor="let role of this.generalService.roles" value="{{role}}">{{role}}</option>
              </select>
            </div>
          </ng-container>
          <!-- teams form: -->
          <ng-container *ngSwitchCase="'teams'">
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="name">Name</span>
              <input formControlName="name" id="name" type="text" class="form-control" aria-label="name" aria-describedby="name">
            </div>
            <div>
              <label class="form-label" for="description">Description:</label>
              <textarea class="form-control" formControlName="description" row="50" col="75" id="description"></textarea>
            </div>
            <h4>Asign Members</h4>
            <div *ngFor= "let user of dataService.users$ | async" class="form-check">

                <input class="form-check-input" #memberBoxInput (click)="onToggleBox(memberBoxInput, user.id)" type="checkbox" value="members" id="{{user.firstName}}_{{user.lastName}}">
                <label class="form-check-label" for="{{user.firstName}}_{{user.lastName}}">{{user.firstName}} {{user.lastName}}</label>

            </div>
            <h4>Asign Projects</h4>
            <div *ngFor= "let project of dataService.projects$ | async" class="form-check">

                <input class="form-check-input" #projectBoxInput (click)="onToggleBox(projectBoxInput, project.id)" type="checkbox" value="projects" id="{{project.name}}">
                <label class="form-check-label" for="{{project.name}}">{{project.name}}</label>

            </div>
          </ng-container>
          <!-- projects form: -->
          <ng-container *ngSwitchCase="'projects'">
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="name">Name</span>
              <input formControlName="name" id="name" type="text" class="form-control" aria-label="name" aria-describedby="name">
            </div>
            <div>
              <label class="form-label" for="description">Description:</label>
              <textarea class="form-control" formControlName="description" row="50" col="75" id="description"></textarea>
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="startDate">Start Date</span>
              <input formControlName="startDate" id="startDate" type="date" class="form-control" aria-label="startDate" aria-describedby="startDate">
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="endDate">Start Date</span>
              <input formControlName="endDate" id="endDate" type="date" class="form-control" aria-label="endDate" aria-describedby="endDate">
            </div>
            <h4>Asign Tasks</h4>
            <div *ngFor= "let task of dataService.tasks$ | async" class="form-check">

              <input class="form-check-input" #tasksBoxInput (click)="onToggleBox(tasksBoxInput, task.id)" type="checkbox" value="tasks" id="{{task.name}}">
              <label class="form-check-label" for="{{task.name}}">{{task.name}}</label>

            </div>
            <div hidden>
              <input formControlName="state" type="text" id="state" value="inProgress">
            </div>
          </ng-container>
          <!-- tasks form: -->
          <ng-container *ngSwitchCase="'tasks'">
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="name">Name</span>
              <input formControlName="name" id="name" type="text" class="form-control" aria-label="name" aria-describedby="name">
            </div>
            <div>
              <label class="form-label" for="description">Description:</label>
              <textarea class="form-control" formControlName="description" row="50" col="75" id="description"></textarea>
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="startDate">Start Date</span>
              <input formControlName="startDate" id="startDate" type="date" class="form-control" aria-label="startDate" aria-describedby="startDate">
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="endDate">Start Date</span>
              <input formControlName="endDate" id="endDate" type="date" class="form-control" aria-label="endDate" aria-describedby="endDate">
            </div>
            <div hidden>
              <input formControlName="state" type="text" id="state" value="inProgress">
            </div>
          </ng-container>
          <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="activeModal.close('Ok click')" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


